@charset "utf-8";

/* CakeCart Catalog Stylesheet */

/* ########## PRODUCTS PAGE ########## */

.prod-image {
	float: left;
	width: 250px;
}

.prod-quick-info {
	float: left;
	width: 270px;
	margin-left: 10px;
}

.prod-in-stock {
	color: #009407;
}

.prod-out-stock {
	color: #b60000;
}

input.prod-cart-input {
	width: 35px;
}

.prod-add-image {
	width: 150px;
	float: left;
	margin: 0px 10px 10px 0px;
}

.prod-review-box {
	padding: 5px;
}

.prod-options select {
	width: 100%;
}

/* ########## PRODUCT CATEGORIES PAGE ########## */

.cat-list {
	line-height: 20px;
	margin-bottom: 10px;
}

.cat-list li a.title {
	text-decoration: underline;
}

.list-type-grid {
	background: url(../img/grid3.gif) repeat top left;
	min-height: 1px;
	height: auto !important;
	height: 1px;
}

.list-type-grid ol.row {
	border-top: 1px solid #d9d9d9;
	margin: 0px;
	padding: 0px;
}

.list-type-grid ol.first {
	border-top: none;
}

.list-type-grid ol.row li.item {
	float: left;
	width: 157px;
	padding: 30px 10px 30px 10px;
	overflow: hidden;
}

.list-type-grid ol.row li.last {
	width: 156px;
}

.rating {
	line-height: 17px;
}

p.list-price {
	margin-top: 10px;
}
